﻿@inject HttpClient HttpClient

<div class="top-row pl-4 navbar navbar-dark">
    @if (string.IsNullOrWhiteSpace(appState.LoggedOnUser))
    {
        <a class="navbar-brand" href="/Login">Login </a>
    }
    else
    {
        <a class="navbar-brand" href="/Logout">Welcome: @appState.LoggedOnUser </a>
    }
    
    <button class="navbar-toggler" onclick=@ToggleNavMenu>
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class=@(collapseNavMenu ? "collapse" : null) onclick=@ToggleNavMenu>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match=NavLinkMatch.All>
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="screens\issues">
                <span class="oi oi" aria-hidden="true"></span> Ekranų gedimai
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="cameras\issues">
                <span class="oi oi" aria-hidden="true"></span> Kamerų gedimai
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="cameras">
                <span class="oi oi" aria-hidden="true"></span> Kameros
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="camera\problems">
                <span class="oi oi" aria-hidden="true"></span> Kamerų problemos
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="camera\diagnoses">
                <span class="oi oi" aria-hidden="true"></span> Kamerų diagnozės
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="screen\problems">
                <span class="oi oi" aria-hidden="true"></span> Ekranų problemos
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="screen\diagnoses">
                <span class="oi oi" aria-hidden="true"></span> Ekranų diagnozės
            </NavLink>
        </li>
    </ul>
</div>

@functions {
   [Inject] AppState appState { get; set; }
   bool collapseNavMenu = true;

   void ToggleNavMenu()
   {
       collapseNavMenu = !collapseNavMenu;
   }

   protected override async Task OnInitAsync()
   {
       //userName = await HttpClient.GetStringAsync("/api/Account");
   }
}
