﻿@using KGHelpDesk.Shared
@page "/camera/{Id:int}"

@inject HttpClient Http
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper

@if (camera == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <h1>Kamera: @((Id == 0) ? "(naujas įrašas)" : camera.Name) </h1>
    <div class="row">
        <div class="col-md-4">
            <div>
                <label for="Name">Pavadinimas:</label>
                <input type="text" class="form-control" bind="@camera.Name" />
            </div>

            <button class="btn" onclick="@SaveCamera">Saugoti</button>
        </div>
    </div>
}

@functions {
   [Parameter]
   int Id { get; set; }

   Camera camera;

   protected override async Task OnInitAsync()
   {
       camera = await Http.GetJsonAsync<Camera>($"api/Cameras/{Id}");
       if (camera == null)
           camera = new Camera();
   }

   protected async Task SaveCamera()
   {
       await Http.PostJsonAsync("api/cameras", camera);
       UriHelper.NavigateTo("/cameras");
   }
}
