﻿@using KGHelpDesk.Shared
@page "/cameras"

@inject HttpClient Http

<h1>Kamerų problemos</h1>

@if (Cameras == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Kamera</th>
                <th><NavLink href="camera/0"><button>Add</button></NavLink></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var camera in Cameras)
        {
            <tr>
                <td>@camera.Id</td>
                <td>@camera.Name</td>
                <td><NavLink href="@("camera/" + camera.Id)">H</NavLink></td>
            </tr>
        }
        </tbody>
    </table>
}

@functions {
   Camera[] Cameras;

   protected override async Task OnInitAsync()
   {
       Cameras = await Http.GetJsonAsync<Camera[]>("api/Cameras");
   }
}
