﻿@using KGHelpDesk.Shared
@page "/cameras/issues"

@inject HttpClient Http

<h1>Kamerų problemos</h1>

@if (issues == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Kamera</th>
                <th>Etapas</th>
                <th>Veiksmai</th>
                <th>Komentaras</th>
                <th>Asmuo</th>
                <th><NavLink href="cameras/issues/register"><button>Add</button></NavLink></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var issue in issues.Where(i => i.Stage != "Resolve"))
        {
            <tr style="background-color:@(issue.Stage == "Resolve" ? "aquamarine" : "rgb(255,200,200)");color:black">
                <td>@issue.Id</td>
                <td>@issue.Camera</td>
                <td>@issue.Stage</td>
                <td>@issue.ActionClassStack</td>
                <td>@issue.Comment</td>
                <td>@issue.User</td>
                <td><NavLink href="@((issue.Stage == "Diagnose" ? "cameras/issues/resolve/" : "cameras/issues/diagnose/") + issue.Id)"> @if (issue.Stage != "Resolve")
                                                                                                                                        {
                                                                                                                                            <button class="oi-pencil"></button>
                                                                                                                                        }</NavLink></td>
            </tr>
        }
        </tbody>
    </table>
}

@functions {
    CameraIssueResult[] issues;

    protected override async Task OnInitAsync()
    {
        issues = await Http.GetJsonAsync<CameraIssueResult[]>("api/CameraIssues");
    }
}
