﻿@page "/cameras/issues/diagnose/{issueId:int}"

@inject HttpClient Http
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper
@using KGHelpDesk.Shared

<h1>Gedimas:</h1>

@if (issue == null)
{
<p><em>Loading...</em></p>
}
else
{
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="Camera">Kamera:</label>
            <label>@issue.Camera</label>
        </div>
        <div class="form-group">
            <label for="DateTime">Diagnozės/sprendimo laikas:</label>
            <input type="datetime-local" bind="@solveTime"/>
        </div>
        <div class="form-group">
            <label for="Problem">Diagnozė:</label>
            <select bind="@diagnosisId">
                <option value="0"></option>
                @foreach (var diagnosis in diagnoses)
                {
                    <option value="@diagnosis.Id">@diagnosis.Name</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="Comment">Komentaras:</label>
            <input type="text" class="form-control" bind="@diagnosisModel.Comment"/>
        </div>
    
        <div class="form-group">
            <button class="btn" onclick="@Diagnose">Diagnozuoti problemą</button>
            <label>Išspręsta:</label><input type="checkbox" bind="@closeProblem"/>
        </div>
    </div>
</div>
}

@functions
{
   [Parameter]
   int issueId { get; set; }

   CameraIssueResult issue;
    DateTime solveTime = DateTime.Now;
   Diagnosis[] diagnoses;
   IssueDiagnoseModel diagnosisModel = new IssueDiagnoseModel();
   int diagnosisId;
   bool closeProblem = true;
   //string comment;

   protected override async Task OnInitAsync()
   {
       issue = await
       Http.GetJsonAsync<CameraIssueResult>($"api/CameraIssues/{issueId}");
       diagnoses = await Http.GetJsonAsync<Diagnosis[]>("api/CameraDiagnoses");
   }

   protected async Task Diagnose()
   {
       diagnosisModel.Id = issueId;
       diagnosisModel.Diagnoses = new []{ diagnosisId };
       diagnosisModel.DiagnosisDate = solveTime;

       await Http.SendJsonAsync(HttpMethod.Put, "api/CameraIssues/Diagnose", diagnosisModel);

       if (closeProblem)
       {
           var resolveModel = new IssueResolveReopenModel() {Comment = "", Id = issueId, ResolveTime = solveTime};
           await Http.SendJsonAsync(HttpMethod.Put, "api/CameraIssues/Resolve", resolveModel);
       }

       StateHasChanged();
       UriHelper.NavigateTo("/Cameras/Issues");
   }

}

