﻿@page "/cameras/issues/resolve/{issueId:int}"

@inject HttpClient Http
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper
@using KGHelpDesk.Shared

<h1>Gedimas:</h1>

@if (issue == null)
{
<p><em>Loading...</em></p>
}
else
{
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="Camera">Kamera:</label>
            <label>@issue.Camera</label>

        </div>
        <div>
            <label for="ResolvementDate">Sprendimo laikas:</label>
            <input type="datetime-local" bind="@resolvementDate"/>
        </div>
            <div class="form-group">
                <label for="Comment">Komentaras:</label>
                <input type="text" class="form-control" bind="@comment"/>
            </div>
            <button class="btn" onclick="@Resolve">Išspręsta</button>
    </div>
</div>
}

@functions
{
   [Parameter]
   int issueId { get; set; }

   CameraIssueResult issue;
   string comment = "";
   IssueResolveReopenModel resolveModel = new IssueResolveReopenModel();
    DateTime resolvementDate = DateTime.Now;

   protected override async Task OnInitAsync()
   {
       issue = await Http.GetJsonAsync<CameraIssueResult>($"api/CameraIssues/{issueId}");
   }

   protected async Task Resolve()
   {
       resolveModel.Id = issueId;
       resolveModel.Comment = comment;
       resolveModel.ResolveTime = resolvementDate;
       var task = Http.SendJsonAsync(HttpMethod.Put, "api/CameraIssues/Resolve", resolveModel);
       await task;
       StateHasChanged();
       UriHelper.NavigateTo("/Cameras/Issues");


   }

}

