﻿@page "/"
@*@inject Math Math*@


<table class="table">
    <thead>
        <tr>

            <th>Id</th>
            <th>Diagnozė</th>
            @for (DateTime i = DateTime.Now; i < DateTime.Now.AddMonths(6); i = i.AddDays(1))
            {
                <th>@i.ToString("MM-dd")</th>
            }
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < 24; i++)
        {
            <tr>
                <td>@i - @(i + 1)</td>
                @for (DateTime j = DateTime.Now; j < DateTime.Now.AddMonths(6); j = j.AddDays(1))
                {
                    <td onclick="@(() => MyCellClicked(j.AddHours(i).ToLongTimeString()))">@(new Random().Next(1, 120))</td>
                }
            </tr>
        }


        @*@foreach (var problem in Problems)
            {
                <tr>
                    <td>@problem.Id</td>
                    <td>@problem.Name</td>
                    <td></NavLink></td>
                </tr>
            }*@
    </tbody>

    <input type="text" id="aaaa" value="@selectedCell" />
</table>


@functions{
    public string selectedCell { get; set; } = "none";

    void MyCellClicked(string id)
    {
        selectedCell = id;
    }
}