﻿@page "/Login"
@using KGHelpDesk.Shared
@using Microsoft.AspNetCore.Blazor.Services

@layout MainLayout

@inject IUriHelper UrlHelper 
@inject HttpClient HttpClient


<table class="table">

    <tbody>

        <tr>
            <td>Vartotojo vardas:</td>
            <td> <input type="Text" bind="@username" /></td>
        </tr>
    <tr>
        <td>Slaptažodis:</td>
        <td> <input type="Password" bind="@password" /></td>
    </tr>
    @if (LoginFailed)
    {
        <tr>
            <td rowspan="2"> Nepavyko prisijungti</td>
        </tr>

    }
        <tr>
            <td rowspan="2"><input type="Button" value="Prisijungti" onclick="@LoginUser" /></td>
        </tr>
    </tbody>

</table>


@functions {
   [Inject] AppState AppState { get; set; }

   string username = "";
   string password = "";

   bool LoginFailed = false;

   protected async Task LoginUser()
   {
       LoginFailed = !await AppState.Login(new AccountModel {Password = password, Username = username});
       if (!LoginFailed)
       {
           StateHasChanged();
           UrlHelper.NavigateTo("/");
       }
   }
}