﻿@using KGHelpDesk.Shared
@page "/screen/diagnoses"

@inject HttpClient Http

<h1>Ekranų diagnozės</h1>

@if (Diagnoses == null)
{
<p><em>Loading...</em></p>
}
else
{
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Diagnozė</th>
            <th><NavLink href="screen/diagnosis/0"><button>Add</button></NavLink></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var diagnosis in Diagnoses)
        {
        <tr>
            <td>@diagnosis.Id</td>
            <td>@diagnosis.Name</td>
            <td><NavLink href="@("screen/diagnosis/" + diagnosis.Id)">H</NavLink></td>
        </tr>
        }
    </tbody>
</table>
}

@functions {
   Diagnosis[] Diagnoses;

   protected override async Task OnInitAsync()
   {
       Diagnoses = await Http.GetJsonAsync<Diagnosis[]>("api/ScreenDiagnoses");
   }
}
