﻿@using KGHelpDesk.Shared
@page "/screen/diagnosis/{Id:int}"

@inject HttpClient Http
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper

@if (diagnosis == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <h1>Diagnozė: @((Id == 0) ? "(naujas įrašas)" : diagnosis.Name) </h1>
    <div class="row">
        <div class="col-md-4">
            <div>
                <label for="Name">Pavadinimas:</label>
                <input type="text" class="form-control" bind="@diagnosis.Name" />
            </div>

            <button class="btn" onclick="@SaveDiagnosis">Saugoti</button>
        </div>
    </div>
}

@functions {
   [Parameter]
   int Id { get; set; }

   Diagnosis diagnosis;

   protected override async Task OnInitAsync()
   {
       diagnosis = await Http.GetJsonAsync<Diagnosis>($"api/ScreenDiagnoses/{Id}");
       if (diagnosis == null)
           diagnosis = new Diagnosis();
   }

   protected async Task SaveDiagnosis()
   {
       await Http.PostJsonAsync("api/ScreenDiagnoses", diagnosis);
       UriHelper.NavigateTo("/screen/diagnoses");
   }
}
