﻿@page "/screens/issues/edit"
@page "/screens/issues/edit/{issueId:int}"

<h1>Gedimas: @issueId</h1>



@functions
{
    [Parameter]
    int issueId { get; set; }

    //IEnumerable<ScreenDiagnosis>

}

