﻿@page "/screens/issues/diagnose/{issueId:int}"

@inject HttpClient Http
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper
@using KGHelpDesk.Shared

<h1>Gedimas:</h1>

@if (issue == null)
{
<p><em>Loading...</em></p>
}
else
{
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="Screen">Ekranas:</label>
            <label>@issue.Screen</label>
        </div>
        <div class="form-group">
            <label for="DiagnosisTime">Diagnozės/sprendimo laikas:</label>
            <input type="datetime-local" bind="@diagnosisDate"/>
        </div>
            <div class="form-group">
                <label for="Problem">Diagnozė:</label>
                <select bind="@diagnosisId">
                    <option value="0"></option>
                    @foreach (var diagnosis in diagnoses)
                    {
                        <option value="@diagnosis.Id">@diagnosis.Name</option>
                    }
                </select>
            </div>
        <div class="form-group">
            <label for="Comment">Komentaras:</label>
            <input type="text" class="form-control" bind="@diagnosisModel.Comment"/>
        </div>
        <div class="form-group">
            <button class="btn" onclick="@Diagnose">Diagnozuoti problemą</button>
            <label>Išspręsta:</label><input type="checkbox" bind="@closeProblem"/>
        </div>
    </div>
</div>
}

@functions
{
   [Parameter]
   int issueId { get; set; }

   ScreenIssueResult issue;
   Diagnosis[] diagnoses;
   IssueDiagnoseModel diagnosisModel = new IssueDiagnoseModel();
   int diagnosisId;
    bool closeProblem = true;
    DateTime diagnosisDate = DateTime.Now;
   //string comment;

   protected override async Task OnInitAsync()
   {
       issue = await
       Http.GetJsonAsync<ScreenIssueResult>($"api/ScreenIssues/{issueId}");
       diagnoses = await Http.GetJsonAsync<Diagnosis[]>("api/ScreenDiagnoses");
   }

   protected async Task Diagnose()
   {
       diagnosisModel.Id = issueId;
       diagnosisModel.Diagnoses = new []{ diagnosisId };
       diagnosisModel.DiagnosisDate = diagnosisDate;

       await Http.SendJsonAsync(HttpMethod.Put, "api/ScreenIssues/Diagnose", diagnosisModel);

       if (closeProblem)
       {
           var resolveModel = new IssueResolveReopenModel() {Comment = "", Id = issueId, ResolveTime = diagnosisDate};
           await Http.SendJsonAsync(HttpMethod.Put, "api/ScreenIssues/Resolve", resolveModel);
       }

       StateHasChanged();
       UriHelper.NavigateTo("/Screens/Issues");
   }

}

