﻿@page "/screens/issues/register"

@inject HttpClient Http
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper
@using System.Text
@using System.Threading
@using KGHelpDesk.Shared

<h1>Gedimas:</h1>

@if (screens == null)
{
<p><em>Loading...</em></p>
}
else
{
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="Screen">Ekranas:</label>
            <select bind="@screenId">
                <option value="0"></option>
                @foreach (var screen in screens)
                {
                    <option value="@screen.Id">@screen.Name</option>
                }
            </select>

        </div>
        <div class="form-group">
            <label for="RegistrationDate">Registracijos laikas:</label>
            <input type="datetime-local" bind="@registrationDate"/>
        </div>
            <div class="form-group">
                <label for="Problem">Problema:</label>
                <select bind="@problemId">
                    <option value="0"></option>
                    @foreach (var problem in problems)
                    {
                        <option value="@problem.Id">@problem.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="Comment">Komentaras:</label>
                <input type="text" class="form-control" bind="@registrationModel.Comment"/>
            </div>
            <button class="btn" onclick="@RegisterProblem">Registruoti problemą</button>
    </div>
</div>
}

@functions
{
   Screen[] screens;
   Problem[] problems;
   IssueRegistrationModel registrationModel = new IssueRegistrationModel();
   int problemId;
   int screenId;
    DateTime registrationDate = DateTime.Now;


   protected override async Task OnInitAsync()
   {
       screens = await Http.GetJsonAsync<Screen[]>("api/Screens");
       problems = await Http.GetJsonAsync<Problem[]>("api/ScreenProblems");
   }

   protected async Task RegisterProblem()
   {
       registrationModel.Id = screenId;
       registrationModel.Problems = new[]{problemId};
       registrationModel.RegistrationDate = registrationDate;

       //new StringContent(myJson, Encoding.UTF8, "application/json")


       await Http.SendJsonAsync(HttpMethod.Post,  "api/ScreenIssues/Register", registrationModel);
       StateHasChanged();
       UriHelper.NavigateTo("/Screens/Issues");
       //UriHelper.NavigateTo("/Screens/Issues");

   }

}

