﻿@using KGHelpDesk.Shared
@page "/screen/problem/{Id:int}"

@inject HttpClient Http
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper

@if (problem == null)
{
<p><em>Loading...</em></p>
}
else
{

<h1>Problema: @((Id == 0) ? "(naujas įrašas)" : problem.Name) </h1>
<div class="row">
    <div class="col-md-4">
        <div>
            <label for="Name">Pavadinimas:</label>
            <input type="text" class="form-control" bind="@problem.Name" />
        </div>

        <button class="btn" onclick="@SaveProblem">Saugoti</button>
    </div>
</div>
}

@functions {
   [Parameter]
   int Id { get; set; }

   Problem problem;

   protected override async Task OnInitAsync()
   {
       problem = await Http.GetJsonAsync<Problem>($"api/ScreenProblems/{Id}");
       if (problem == null)
           problem = new Problem();
   }

   protected async Task SaveProblem()
   {
       await Http.PostJsonAsync("api/ScreenProblems", problem);
       UriHelper.NavigateTo("/screen/problems");
   }
}
