﻿@using KGHelpDesk.Shared
@page "/screen/problems"

@inject HttpClient Http

<h1>Ekranų problemos</h1>

@if (Problems == null)
{
<p><em>Loading...</em></p>
}
else
{
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Diagnozė</th>
            <th><NavLink href="screen/problem/0"><button>Add</button></NavLink></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var problem in Problems)
        {
        <tr>
            <td>@problem.Id</td>
            <td>@problem.Name</td>
            <td><NavLink href="@("screen/problem/" + problem.Id)">H</NavLink></td>
        </tr>
        }
    </tbody>
</table>
}

@functions {
   Problem[] Problems;

   protected override async Task OnInitAsync()
   {
       Problems = await Http.GetJsonAsync<Problem[]>("api/ScreenProblems");
   }
}
